.contentBody {
	display: flex;
	flex-direction: column;
	margin-left:auto;
	margin-right:auto;
	width: 50%;
}

#origin, #file, #feeFile {
	width: min-content;
	display: flex;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#feeFile {
	display : none;
}

#origin > span {
	min-width: 100px;
}