html {
  height: 100vh;
}

body {
}

#mainContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    align-items: stretch;
}

#titleContainer {
	width : 80%;
	min-height: 100px; 
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	
	background-image: url("../images/lakshmi.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#buttonContainer {
	width : 80%;
    align-self: stretch;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	align-items: center
}

.mainButton {
	margin-bottom: 20px;
}

.mainButton {
	border: 1px;
	border-radius: 7px;
	cursor: pointer;
	min-height: 40px;
	min-width: 200px;
	background-color: green;
	color:white;
	display:flex;
}

.mainButton > span {
	margin:auto;
}

.mainButton:hover {
	background-color: lime;
	color: grey;
}


