.plugin_datatable_datatable {
	border: var(--small-separator);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.plugin_datatable_header {
	background-color: var(--color-table-header);
	border-bottom: var(--small-separator);
}

.plugin_datatable_line {
	height: 25px;
	display: flex;
	width: 100%;
}

.plugin_datatable_line > form {
	display: flex;
	width: 100%;
}

.plugin_datatable_cell {
	padding-left: 5px;
	margin-top: auto;
	margin-bottom: auto;
	
	display: flex;
/* 	flex-direction: column; */
	text-align: left;
	width: -webkit-fill-available;
	-webkit-box-sizing: border-box;
}

.plugin_datatable_headercell {
	font-weight: bold;
}

.headerLabel {
	width: -webkit-fill-available;
	margin: auto;
	padding-left: 5px;
}

.plugin_datatable_line:not(.plugin_datatable_header):nth-child(2n+1), form:nth-child(2n+1) > .plugin_datatable_line {
	background-color: var(--color-table-dark); 
}

.plugin_datatable_line:not(.plugin_datatable_header):nth-child(2n), form:nth-child(2n) > .plugin_datatable_line {
	background-color: var(--color-table-light); 
}

.plugin_datatable_line:not(.plugin_datatable_header):hover {
	background-color: var(--color-hover); 
}

.buttonCell > div:hover {
	background-color: var(--color-hover-dark)!important; 
}

.plugin_datatable_sortable {
	cursor: pointer;
}

.plugin_datatable_container {
	display: flex;
	flex-direction: column;
}

.plugin_datatable_pretable {
	display: flex;
}

.plugin_datatable_pagination_select {
	width: 50px;
}

.plugin_datatable_search {
	width: 100px;
	margin-left: auto;
}

.plugin_datatable_posttable {
	display: flex;
	margin-left : auto;
}

/* Container de taille fixe */
.plugin_datatable_posttable > div  {
	width: 20px;
}

.plugin_datatable_posttable > div > div {
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.plugin_datatable_posttable > div > div:hover {
	background-color: grey;
}

.plugin_datatable_pagination_button_first {
	background-image: url("images/double_previous.png");
}

.plugin_datatable_pagination_button_previous {
	background-image: url("images/previous.png");
}

.plugin_datatable_pagination_button_next {
	background-image: url("images/next.png");
}

.plugin_datatable_pagination_button_last {
	background-image: url("images/double_next.png");
}

.plugin_datatable_pagination_input {
	width: 30px;
	text-align:center;
}
